* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    background: #0f141e;
    z-index: 999;
}

body {
    background: #FFFF
}

/*Header*/
.logo {
    padding: 6px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 8vh;
}

.by {
    display: flex;
    flex-direction: column;
}

.nome {
    margin-top: 2vh;
    margin-left: -9px;
}

.mywork {
     font-size: 0.7rem;
    opacity: 0.9;
    margin-left: -9px;
    letter-spacing: .2rem;
    color: black;
}

/*Menu*/
.logomenu {
    padding: 15px;
    cursor: pointer;
    height: 8vh;
}

.logomenu img {
    height: 8vh;
}

.bymenu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.nomemenu {
    margin-top: 36px;
    margin-left: -13px;
    color: #ffffff;
    cursor: pointer;
}

.myworkmenu {
    font-size: 0.7rem;
    opacity: 0.9;
    margin-left: -13px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: .2rem;
}

.menuopen {
    display: flex;
    align-items: end;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.menuopen p {
    font-size: 0.9rem;
    position: relative;
    top: -5px;
    right: 5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.menuopen:hover {
    color: #FFF;
}

.options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 28vh;
    left: 43%;
    color: #878a8f;
}

.options p {
    font-size: 3.7rem;
}

.op p:hover {
    color :#FFF;
    cursor: pointer;
    transition: 0.3s;
} 

.tit {
    font-size: 1rem;
    position: absolute;
    top: 25vh;
    left: 48%;
    color: #878a8f;
    letter-spacing: .2rem;
}

.fot {
    position: absolute;
    top: 94%;
    left: 41%;
    color: #878a8f;
}

.fot p {
    font-size: 0.9rem;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header p {
    font-size: 1.4rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: end;
    position: fixed;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.menu p:before {
    content: '';
    width: 0;
    height: 3px;
    background: #4228d6;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s
}

.menu p {
    font-size: 0.9rem;
    position: relative;
    top: -5px;
    right: 5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.menu:hover p:before {
    width: 170%;
}

.txt p {
    cursor: pointer;
}

.txt p:before {
    content: '';
    width: 0;
    height: 5px;
    background: #000000;
    position: absolute;
    top: 193%;
    left: 33vw;
    transition: .1s;
}

.txt:hover p:before {
    width: 32.5%;
}

.me {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    font-size: 3rem;
    margin-top: -15vh;
    margin-left: -30vw;
}

.me > p {
    font-weight: 800;
    letter-spacing: -0.050em;
}

.aboutme {
    text-align: justify;
}

.aboutme p {
    padding: 20px 0 0 80px;
    width: 650px;
    font-size: 1.4rem;
    opacity: 0.6; 
    letter-spacing: -.01rem;
}

.foto {
    width: 10vw;
    position: relative;
    top: 30vh;
    left: 60%;
}

.foto img {
    border-radius: 10px 35px 10px 35px;
}

.or {
    position: relative;
    left: -5vw;
    display: flex;
    flex-direction: row;
}

.vp p {
    position: relative;
    top: 3vh;
    font-size: 1.1rem;
    cursor: pointer;
}

.vp p:before {
    content: '';
    width: 0;
    height: 2px;
    background: #000000;
    position: absolute;
    top: 110%;
    transition: .1s;
}

.vp:hover p:before {
    width: 100%;
}

.ram a {
    position: relative;
    top: 2px;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.ram a:before {
    content: '';
    width: 0;
    height: 2px;
    background: #000000;
    position: absolute;
    top: 100%;
    transition: .1s;
}

.ram:hover a:before {
    width: 100%;
}

.ora {
    opacity: 0.6;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.1rem
}

.gmail-link {
    position: fixed;
    width: 57px;
    height: 57px;
    bottom: 40px;
    right: 20px;
    background-color: #a8a8a3;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    z-index: 1000;
    margin: auto;
}

.gmail {
    display: flex;
    flex-direction: row;
}

.gmail-link:hover {
    transition: 0.4s;
    background: #0f141e;
}

.cmg {
    font-size: 0.8rem;
    margin-top: -2.3vh;
    margin-left: -7vw;
}

.need p {
    font-size: 0.9rem;
    opacity: 0.7;
    margin-left: -13px;
    letter-spacing: 0.1rem;
}

.txt {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.txt img {
    position: relative;
    top: 3px;
}

.txt p {
    font-size: 4rem;
    font-weight: bold;
}

.lwt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.line {
    height: 1px;
    background-color: gray;
    width: 75%;
    margin: auto;
    opacity: 0.3;
    margin-top: 8vh;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
}

.contact {
    width: 460px;
}

.contact p {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 0.1rem;
}

.current p {
    font-size: 1.25rem;
    font-weight: bold;
    width: 170px;
    margin-left: -15vw;
    letter-spacing: 0.1rem;
}

.flw {
    margin-left: -10vw;
}

.flw p {
    font-size: 1.25rem;
    font-weight: bold;
    width: 120px;
}

.texto p {
    margin-top: 1vh;
    font-size: 1rem;
    opacity: 0.5;
}


.texto2 p {
    margin-top: 1vh;
    font-size: 1rem;
    opacity: 0.5;
    cursor: pointer;
}

.selected {
    width: 40vw;
}

.selected p {
    position: relative;
    top: 11vh;
    left: 12vw;
    font-size: 0.9rem;
    opacity: 0.7;
    letter-spacing: 0.1rem;
}

.slp p {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: 18vh;
    left: 11.8vw;
    width: 30vw;
}

/*
    
.cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 7.4vw;
}

*/

.cards {
    display: grid;
    grid-template-columns: 40vw 40vw ;
    margin-left: 10vw;
}

.card {
    margin-top: 270px;
    margin-left: 30px;
    height: 75vh;
    width: 36vw;
    background: linear-gradient(to right, #000, #535050);
    padding: 40px;
    border-radius: 6px;
}

.card2 {
    margin-top: 7vh;
    margin-left: 30px;
    height: 75vh;
    width: 36vw;
    background: linear-gradient(to right, #000, #535050);
    padding: 40px;
    border-radius: 6px;
}

.imagem img {
    height: 40vh;
    width: 32vw;
    position: relative;
    top: 5vh;
    border-radius: 2px;
}

.date p {
    color: white;
    opacity: 0.6;
    font-size: 1.2rem;;
}

.proj {
    width: 20vw;
}

.proj p {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-top: 1.5vh;
    line-height: 4vh;
}

.read button {
    height: 4vh;
    width: 5vw;
    background: #4228d6;
    position: relative;
    top: 10vh;
    left: 14vw;
    border: 1px solid rgb(71, 70, 70);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.read button:hover {
    margin-top: -0.3vh;
    transition: .2s;
}

.copy p {
    margin-top: 12vh;
    font-size: 0.9rem;
    color: #878a8f;
    letter-spacing: 0.05rem;
}

.textocontact p {
    font-size: 1rem;
    opacity: 0.5;
}

.textocontact {
    height: 7vh;
}

.e, .p {
    margin-top: 5vh;
    font-size: 1rem;
    opacity: 0.5;
}

.email, .numero {
    font-size: 1rem;
}

.git {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 8vh;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 12vw;
    margin: auto;
    background: #0f141e;
}

.git a {
    color: #FFF;
    font-weight: bold;
    margin-top: 2.2vh;
    margin-left: 5px;
    text-decoration: none;
}


#menuimg {
    height: 3vh;
}

#closeMenu {
    height: 3vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4228d6;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
}