* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ebebeb
}

.logo {
    padding: 15px;
}

.logo img {
    height: 8vh;
}

.by {
    display: flex;
    flex-direction: column;
}

.nome {
    margin-top: 36px;
    margin-left: -13px
}

.mywork {
    font-size: 0.74rem;
    opacity: 0.6;
    margin-left: -13px
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header p {
    font-size: 1.4rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: end;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.menu p:before {
    content: '';
    width: 0;
    height: 3px;
    background: #4228d6;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s
}

.menu p {
    font-size: 0.9rem;
    position: relative;
    top: -5px;
    right: 5px;
    text-transform: uppercase;
}

.menu:hover p:before {
    width: 170%;
}

.me {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    font-size: 3rem;
    font-weight: bold;
}

.aboutme p {
    text-align: justify;
    font-size: 5rem;
    padding: 20px 0 0 80px;
    width: 650px;
    font-size: 1.3rem;
    color:black;
    opacity: 0.6; 
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 11px;
}

.need p {
    font-size: 0.9rem;
    opacity: 0.7;
    margin-left: -13px
}

.txt {
    display: flex;
    flex-direction: row;
}

.txt img {
    width: 2.5vw
}

.txt p {
    font-size: 3.7rem;
    font-weight: bold;
}

.lwt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    height: 1px;
    background-color: gray;
    width: 75%;
    margin: auto;
    opacity: 0.3;
    margin-top: 8vh;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
}

.contact p {
    font-size: 1.25rem;
    font-weight: bold;
    width: 150px;
}

.current p {
    font-size: 1.25rem;
    font-weight: bold;
    width: 150px;
}

.flw p {
    font-size: 1.25rem;
    font-weight: bold;
    width: 120px;
}

.texto p {
    margin-top: 1vh;
    font-size: 1rem;
    opacity: 0.5;
}

#menuimg {
    height: 3vh;
}